<!-- Modal con Carrusel de Imágenes -->
<div *ngIf="isModalOpen" class="modal fade show d-block" id="carouselImageModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Galería de Imágenes</h5>
        <button type="button" class="btn-close" (click)="closeImageModal()"></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of player?.gallery; let i = index" [class.active]="i === activeIndex">
              <img [src]="image" class="d-block w-100" alt="Imagen {{i + 1}}">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal con Carrusel de Videos -->
<div *ngIf="isVideoModalOpen" class="modal fade show d-block" id="carouselVideoModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Galería de Videos</h5>
        <button type="button" class="btn-close" (click)="closeVideoModal()"></button>
      </div>
      <div class="modal-body">
        <div id="carouselVideos" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let video of player?.video; let i = index" [class.active]="i === activeIndex">
              <iframe [src]="video | safeUrl" class="d-block w-100" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselVideos" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
